<template>
    <div class="card">
        <img :src="post.img" class="card-img-top"
             alt="Photo">
        <div class="card-body">
            <h5 class="card-title">Post - {{post.id}}</h5>
            <p class="card-text">{{post.text}}</p>
            <button type="button" class="btn btn-outline-success my-2 my-sm-0"
                    @click="openPost">Open post
            </button>
        </div>
    </div>
</template>

<script>
export default {
    name: "Post",
    props: ['post-prop'],
    data() {
        return {
            post: this.postProp
        }
    },
    methods: {
        openPost() {
            axios
                .get('/ajax/get-post/' + this.post.id)
                .then(response => {
                    this.post = response.data.post;
                    this.$root.$emit("showPopup", this.post);
                });
        },
    }
}
</script>

<style scoped>

</style>
