<template>
    <div class="card">
        <img :src="'/images/box.png'" class="card-img-top" alt="Photo">
        <div class="card-body">
            <button v-if="!!authUser" type="button" class="btn btn-outline-success my-2 my-sm-0"
                    @click="buyPack(boosterpack.id)">Buy boosterpack {{ boosterpack.price }}$
            </button>
            <div class="invalid-feedback" v-if="feedback">
                {{ feedback }}
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Boosterpack",
    props: ['boosterpack-prop', 'auth-user-prop'],
    data() {
        return {
            authUser: this.authUserProp,
            boosterpack: this.boosterpackProp,
            loaded: false,
            feedback: null
        }
    },
    methods: {
        buyPack() {
            if (this.loaded)
                return;

            if (this.authUser.wallet_balance < this.boosterpack.price) {
                this.feedback = 'Not enough money to buy Boosterpack!';
                return;
            }

            this.loaded = true;

            axios.post('/ajax/buy-boosterpack/' + this.boosterpack.id)
                .then((response) => {
                    this.feedback = null;

                    this.$root.$emit("userLogged", response.data.user);
                    this.$root.$emit("showAmountModal", response.data.likes);

                    setTimeout(function () {
                        $('#amountModal').modal('show');
                    }, 500);
                })
                .catch((error) => {
                    this.feedback = null;
                    if (error.response.status === 409)
                        this.feedback = error.response.data.message;
                })
                .finally(() => {
                    this.loaded = false;
                })
        }
    },
    mounted() {
        this.$root.$on("userLogged", (userData) => {
            this.authUser = userData;
        });
    }
}
</script>

<style scoped>

</style>
