<template>
    <div class="card-text">
        <div class="p-1" :class="comment.id === addedCommentID ? 'added__green' : null">
            {{ comment.user.name }}
            <a role="button" @click="addLike('comment', comment.id)">
                <svg v-if="!likes" class="bi bi-heart" width="1em" height="1em" viewBox="0 0 16 16"
                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 01.176-.17C12.72-3.042 23.333 4.867 8 15z"
                          clip-rule="evenodd" />
                </svg>
                <svg v-else class="bi bi-heart-fill" width="1em" height="1em" viewBox="0 0 16 16"
                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
                          clip-rule="evenodd" />
                </svg>
                {{ +likes }}
            </a>
            <button class="btn btn-outline-secondary btn-sm" v-if="!!authUser"
                    @click="addCommentVisibility = !addCommentVisibility">
                <i v-if="!addCommentVisibility" class="fa fa-plus"></i>
                <i v-else class="fa fa-minus"></i>
                <i class="fa fa-comment-dots"></i>
            </button>
            <p>
                <small class="text-muted">{{ comment.text }}</small>
            </p>
        </div>
        <form @submit.prevent="addComment('comment', comment.id, 'childrenTree')">
            <div v-if="addCommentVisibility" class="input-group mt-2">
                <input type="text" class="form-control" v-model="commentText">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">
                        Add comment
                    </button>
                </div>
            </div>
        </form>
        <hr>
        <div class="ml-3" v-if="childrenTree">
            <template v-for="childrenComment in childrenTree">
                <post-comments :comment-prop="childrenComment"
                               :auth-user-prop="authUser"
                               :added-comment-id-prop="addedCommentID"
                               :key="childrenComment.id * key"></post-comments>
            </template>
        </div>
    </div>
</template>

<script>
export default {
    name: "PostComments",
    props: ['comment-prop', 'auth-user-prop', 'added-comment-id-prop'],
    data() {
        return {
            authUser: this.authUserProp,
            comment: this.commentProp,
            likes: this.commentProp?.likes ?? null,
            childrenTree: this.commentProp?.children_tree ?? [],
            addCommentVisibility: false,
            addedCommentID: this.addedCommentIdProp,
            commentText: null,
            key: 1,
            loaded: false
        }
    },
    methods: {
        clearAddedCommentID() {
            const vue = this
            setTimeout(function () {
                vue.addedCommentID = null;
            }, 2000);
        }
    },
    mounted() {
        this.clearAddedCommentID();
    }
}
</script>

<style scoped>
a {
    cursor: pointer;
}
p {
    margin: 0;
}

.added__green {
    background: #58f558;
    padding: .25rem;
    border-radius: 5px;
    opacity: 0.5;
}

.btn-outline-secondary {
    border: none;
}
</style>
