<template>
    <div style="display: contents">
        <div class="collapse navbar-collapse navbarTogglerDemo01">
            <li class="nav-item">
                <template v-if="authUser">
                    <button @click="logOut" class="btn btn-primary my-2 my-sm-0">
                        Log out, {{ authUser.name }}
                    </button>
                </template>
                <template v-else>
                    <button type="button" class="btn btn-success my-2 my-sm-0" data-toggle="modal"
                            data-target="#loginModal">Log IN
                    </button>
                </template>
            </li>
            <template v-if="authUser">
                <li class="nav-item">
                    <button type="button" class="btn btn-success my-2 my-sm-0" data-toggle="modal"
                            data-target="#addModal">Add balance
                    </button>
                </li>
                <li class="nav-item">
                    Likes: {{ likes }}
                </li>
                <li class="nav-item">
                    Balance: {{ wallet_balance }}
                </li>
            </template>
        </div>
        <div class="collapse navbar-collapse navbarTogglerDemo01" style="justify-content: end">
            <li class="nav-item">
                <a href="/">Home</a>
            </li>
            <template v-if="authUser">
                <li class="nav-item">
                    <a href="/analytics">Analytics</a>
                </li>
            </template>
        </div>
    </div>

</template>

<script>
export default {
    name: "HeaderUser",
    props: ['auth-user-prop'],
    data() {
        return {
            authUser: this.authUserProp,
            likes: +this.authUserProp?.likes_balance,
            wallet_balance: this.authUserProp?.wallet_balance
        }
    },
    methods: {
        logOut() {
            axios.post('/logout')
                .then(response => {
                    this.$root.$emit("userLogged", null)
                    window.location = '/';
                })
                .catch(error => {
                    console.log(error.response);
                });
        }
    },
    mounted() {
        this.$root.$on("userLogged", (userData) => {
            this.authUser = userData;
            this.likes = userData ? userData.likes_balance : 0;
            this.wallet_balance = userData ? userData.wallet_balance : 0;
        });
        this.$root.$on("changeLikes", (data) => {
            this.likes--;
        });
    }
}
</script>

<style scoped>

</style>
