<template>
    <div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" :class="tab === 'logs' ? 'active' : null" @click="clickTab('logs')">
                    Analytics
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" :class="tab === 'users' ? 'active' : null" @click="clickTab('users')">
                    Data Users Wallets
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" :class="tab === 'histories' ? 'active' : null" @click="clickTab('histories')">
                    Boosterpack`s History
                </a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" :class="tab === 'logs' ? 'show active' : null">
                <logs :auth-user-prop="authUser" :logs-prop="logs" :key="key * Math.random()"></logs>
            </div>
            <div class="tab-pane fade" :class="tab === 'users' ? 'show active' : null">
                <data-users :auth-user-prop="authUser" :users-prop="users" :key="key * Math.random()"></data-users>
            </div>
            <div class="tab-pane fade" :class="tab === 'histories' ? 'show active' : null">
                <histories :auth-user-prop="authUser" :histories-prop="histories" :key="key * Math.random()"></histories>
            </div>
        </div>
    </div>
</template>

<script>
import Logs from "./Logs";
import DataUsers from "./DataUsers";
import BoosterpacksHistory from "./BoosterpacksHistory";

export default {
    name: "Analytics",
    props: ['auth-user-prop'],
    components: {
        'logs': Logs,
        'data-users': DataUsers,
        'histories': BoosterpacksHistory,
    },
    data() {
        return {
            authUser: this.authUserProp,
            logs: [],
            users: [],
            histories: [],
            tab: 'logs',
            key: 1,
            loaded: false
        }
    },
    methods: {
        clickTab(tab) {
            this.tab = tab;
            if (this[tab].length !== 0)
                return;

            this.getData();
        },
        getData() {

            if (this.loaded)
                return;

            this.loaded = true;

            let endpoint;

            switch (this.tab) {
                case "logs":
                    endpoint = '/ajax/get-logs';
                    break;
                case "users":
                    endpoint = '/ajax/get-users-wallets';
                    break;
                case "histories":
                    endpoint = '/ajax/get-boosterpack-histories';
                    break;
            }

            if (!endpoint)
                return;

            axios
                .get(endpoint)
                .then(response => {
                    this[this.tab] = response.data[this.tab];
                    this.key++;
                })
                .finally(() => {
                    this.loaded = false;
                });
        }
    },
    created() {
        this.getData();
    }
}
</script>

<style scoped>

</style>
