<template>
    <div class="table-responsive">
        <table class="table table-striped mt-2">
            <thead>
            <tr>
                <th scope="col" v-if="authUser.is_admin">User</th>
                <th scope="col">Boosterpack</th>
                <th scope="col">Received likes</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="history in histories">
                <td v-if="authUser.is_admin">{{ history.user.name }}</td>
                <td>{{ history.boosterpack_price }}$</td>
                <td>{{ history.received_likes }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    name: "BoosterpacksHistory",
    props: ['histories-prop', 'auth-user-prop'],
    data() {
        return {
            histories: this.historiesProp,
            authUser: this.authUserProp
        }
    }
}
</script>

<style scoped>

</style>
