<template>
    <div class="table-responsive">
        <table class="table table-striped mt-2">
            <thead>
            <tr>
                <th scope="col" v-if="authUser.is_admin">User</th>
                <th scope="col">Likes total refilled</th>
                <th scope="col">Wallet total refilled</th>
                <th scope="col">Wallet total withdrawn</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="user in users">
                <td v-if="authUser.is_admin">{{ user.name }}</td>
                <td>{{ user.likes_total_refilled }}</td>
                <td>{{ user.wallet_total_refilled }}</td>
                <td>{{ user.wallet_total_withdrawn }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    name: "DataUsers",
    props: ['users-prop', 'auth-user-prop'],
    data() {
        return {
            users: this.usersProp,
            authUser: this.authUserProp
        }
    }
}
</script>

<style scoped>

</style>
