<template>
    <div class="table-responsive">
        <table class="table table-striped mt-2">
            <thead>
            <tr>
                <th scope="col">Data</th>
                <th scope="col" v-if="authUser.is_admin">User</th>
                <th scope="col">Action</th>
                <th scope="col">Amount</th>
                <th scope="col">Amount Balance</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="log in logs">
                <td>{{ log.created_at }}</td>
                <td v-if="authUser.is_admin">{{ log.user.name }}</td>
                <td>{{ log.action }}</td>
                <td>{{ log.amount }}</td>
                <td>{{ log.amount_balance }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    name: "Logs",
    props: ['logs-prop', 'auth-user-prop'],
    data() {
        return {
            logs: this.logsProp,
            authUser: this.authUserProp
        }
    }
}
</script>

<style scoped>

</style>
