<template>
    <!-- Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add money</h5>
                    <button type="button" id="close-add-money-popup" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="refill">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Enter sum</label>
                            <input type="number" step="0.01" class="form-control" id="addBalance" v-model="sum"
                                   required>
                            <div class="invalid-feedback" v-if="Object.keys(validationErrors).includes('sum')">
                                <p v-for="message in validationErrors['sum']">
                                    {{ message }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "AddMoneyPopup",
    data() {
        return {
            sum: null,
            loaded: false,
            validationErrors: {},
        }
    },
    methods: {
        refill() {
            if (this.loaded)
                return;

            if (+this.sum === 0)
                return;

            this.loaded = true;

            axios.post('/ajax/add-money', {
                sum: this.sum
            })
                .then((response) => {
                    this.sum = null;
                    this.validationErrors = {};
                    this.$root.$emit("userLogged", response.data.user);

                    const vue = this;
                    setTimeout(function () {
                        vue.closePopup();
                    }, 500);
                })
                .catch((error) => {
                    console.log(error.response);
                    this.validationErrors = {};

                    if (error.response.status === 422) {
                        this.validationErrors = error.response.data.errors;
                    }
                })
                .finally(() => {
                    this.loaded = false;
                })
        },
        closePopup() {
            $('#close-add-money-popup').click();
        }
    }
}
</script>

<style scoped>

</style>
