<template>
    <div class="modal fade" id="amountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Amount</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            @click="closePopup('#amountModal')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h2 class="text-center">Likes: {{likes}}</h2>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" @click="closePopup('#amountModal')">Ok</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "BuyBoosterpackPopup",
    data() {
        return {
            likes: null
        }
    },
    mounted() {
        this.$root.$on("showAmountModal", (likes) => {
            this.likes = likes;
            setTimeout(function () {
                $('#amountModal').modal('show');
            }, 500);
        });
    }
}
</script>

<style scoped>

</style>
