<template>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Log in</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="logIn">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Please enter email</label>
                            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
                                   v-model="dataUser.email" required>
                            <div class="invalid-feedback" v-if="Object.keys(validationErrors).includes('email')">
                                <p v-for="message in validationErrors['email']">
                                    {{ message }}
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Please enter password</label>
                            <input type="password" class="form-control" id="inputPassword" v-model="dataUser.password"
                                   required>
                            <div class="invalid-feedback" v-if="Object.keys(validationErrors).includes('password')">
                                <p v-for="message in validationErrors['password']">
                                    {{ message }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <span id="close--login" class="btn btn-secondary" data-dismiss="modal">Close</span>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "LoginPopup",
    data() {
        return {
            dataUser: {
                email: null,
                password: null
            },
            loaded: false,
            validationErrors: {},
        }
    },
    methods: {
        logIn() {
            if (this.loaded)
                return;

            this.loaded = true;

            axios.post('/login', this.dataUser)
                .then(response => {
                    this.$root.$emit("userLogged", response.data.user)
                    this.clearData()
                    this.validationErrors = {};

                    const vue = this;
                    setTimeout(function () {
                        vue.closePopup();
                    }, 200);
                })
                .catch(error => {
                    console.log(error.response);
                    this.validationErrors = {};

                    if (error.response.status === 422) {
                        this.validationErrors = error.response.data.errors;
                    }
                })
                .finally(() => {
                    this.loaded = false;
                })
        },
        clearData() {
            for (let key in this.dataUser) {
                this.dataUser[key] = null;
            }
        },
        closePopup() {
            $('#close--login').click();

        }
    }
}
</script>

<style scoped>

</style>
