<template>
    <div class="modal fade bd-example-modal-xl" id="postModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true" v-if="post">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Post {{ post.id }}</h5>
                    <button type="button" class="close" @click="closePopup('#postModal')" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="user">
                        <div class="avatar"><img :src="post.user.avatarfull" alt="Avatar"></div>
                        <div class="name">{{ post.user.name }}</div>
                    </div>
                    <div class="card mb-3">
                        <div class="post-img" v-bind:style="{ backgroundImage: 'url(' + post.img + ')' }"></div>
                        <div class="card-body">
                            <div class="likes" @click="addLike('post', post.id)">
                                <div class="heart-wrap">
                                    <div class="heart">
                                        <svg v-if="!likes" class="bi bi-heart" width="1em" height="1em"
                                             viewBox="0 0 16 16"
                                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                  d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 01.176-.17C12.72-3.042 23.333 4.867 8 15z"
                                                  clip-rule="evenodd" />
                                        </svg>
                                        <svg v-else class="bi bi-heart-fill" width="1em" height="1em"
                                             viewBox="0 0 16 16"
                                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                  d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
                                                  clip-rule="evenodd" />
                                        </svg>
                                    </div>
                                    <span>{{ +likes }}</span>
                                </div>
                            </div>
                            <template v-for="comment in comments">
                                <post-comments :comment-prop="comment"
                                               :auth-user-prop="authUser"
                                               :added-comment-id-prop="addedCommentID"
                                               :key="comment.id * key"></post-comments>
                            </template>
                            <template v-if="!!authUser">
                                <hr>
                                <form @submit.prevent="addComment('post', post.id, 'comments')">
                                    <div class="input-group">
                                        <input type="text" class="form-control" v-model="commentText">
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-primary">
                                                Add comment
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </template>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @click="closePopup('#postModal')">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "PostPopup",
    props: ['auth-user-prop'],
    data() {
        return {
            authUser: this.authUserProp,
            post: null,
            comments: [],
            addedCommentID: null,
            likes: 0,
            commentText: null,
            key: 1,
            loaded: false
        }
    },
    methods: {
        setDataPost(post) {
            this.post = post;
            this.comments = post.comments_tree ?? null;
            this.likes = post.likes ?? 0;
        }
    },
    mounted() {
        this.$root.$on("showPopup", (postData) => {
            this.setDataPost(postData);
            setTimeout(function () {
                $('#postModal').modal('show');
            }, 200);
        });
        this.$root.$on("userLogged", (userData) => {
            this.authUser = userData;
            this.key++;
        });
    }
}
</script>

<style scoped>
</style>
