<script>
export default {
    name: "Function",
    methods: {
        addLike(type, id) {
            if (this.loaded)
                return;

            if (!this.authUser)
                return;

            if (+this.authUser?.likes_balance === 0)
                return;

            this.loaded = true;

            axios
                .get('/ajax/add-like/'+ type +'/' + id)
                .then(response => {
                    this.likes = response.data.likes;
                    this.$root.$emit("changeLikes");
                })
                .finally(() => {
                    this.loaded = false;
                });
        },
        addComment(type, id, nameArr) {
            if (this.loaded)
                return;

            if (!this.commentText)
                return;

            this.loaded = true;

            axios.post(
                '/ajax/add-comment/'+ type +'/' + id,
                {
                    comment: this.commentText
                })
                .then(response => {
                    this.commentText = null;
                    this[nameArr] = [...this[nameArr], response.data.comment];
                    this.addedCommentID = response.data.comment.id;

                    if (nameArr === 'childrenTree')
                        this.addCommentVisibility = false;

                    this.key++;
                })
                .finally(() => {
                    this.loaded = false;
                });
        },
        closePopup(selector) {
            $(selector).modal('hide');
        },
    }
}
</script>

<style scoped>

</style>
